<!DOCTYPE html>
<html lang="en">
  <head>
    <title>XOXO fax</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header><h1>XOXO fax</h1></header>

    <main>
      <p>
        This app is a demo of using Twilio's client library for sending SMS and
        MMS messages. Because it uses Twilio's trial account functionality, it's
        limited to sending messages to a fixed number. To try it out for
        yourself,
        <a href="https://glitch.com/edit/#!/remix/basic-twilio-sms">remix this app</a>.
      </p>

      <h2>MMS (with media)</h2>
      <form method="post" action="/mms">
        <label>
          PDF of fax to send
          <input type="file" name="fax" id='fax' accept='.pdf'>
        </label>
        <label>
          Phone number to send to (+18005551212)
          <input type="text" name="to" placeholder="+13373299696">
        </label>
        <label>
          Secret (from <code>.env</code> file)
          <input type="password" maxlength="100" name="secret"/>
        </label>
        <button>send fax</button>
      </form>
      
      <h3>
        More Info
      </h3>
      <ul>
        <li><a href="https://www.twilio.com/docs/libraries/node">Twilio node helper library</a></li>
        <li><a href="https://www.twilio.com/docs/">Twilio developer docs</a></li>
      </ul>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
