<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twilio SMS Demo Setup</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Twilio SMS Demo Setup
      </h1>
    </header>

    <main>
      
      <h2>
        You're on your way!
      </h2>
      
      <p>
        This is a basic example of how to use Twilio's SMS API to send texts. To continue, you'll need a developer account from Twilio.
      </p>
      
      <p>
        <a href="https://www.twilio.com/try-twilio" target="_blank" class="button">sign up for a twilio account</a>
      </p>
      
      <p>
        Along the way, they'll ask for a phone number. You'll also enter that phone number into the <code>.env</code> file of this project as the variable <code>YOUR_PHONE_NUMBER</code>. For example, if your phone number is (US) 555-867-5309, you'll put the following in <code>.env</code>:
      </p>
      
      <pre><code># This is the phone number where test messages will be sent.
# Twilio will have asked you to enter and verify this!
YOUR_PHONE_NUMBER=<mark>"+15558675309"</mark></code></pre>
      
      <p>
        For your remix to run, you'll need a few pieces of information from Twilio.
      </p>
      
      <h3>
        Twilio Phone Number
      </h3>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
